.about-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
/* Add responsive design to About section */
@media screen and (max-width: 800px) {
    .section-content {
        flex-direction: column;
    }

    .right-section {
        margin-top: 15px;
    }
}

.my-photo {
    display: block;
    margin: auto;
    width: 140px;
    height: 140px;
    border-radius: 21px;
}

/* Style About section left part with a photo*/
.left-section {
    flex-grow: 1;
}

/* Style About section right part with the text */
.right-section {
    flex-grow: 2;
    margin-left: 50px;
}
