.contact-info {
    width: 90%;
    margin:0 auto;
}

.contact-input {
    padding: 8px;
    display: block;
    border: 1px solid #ccc;
    width: 100%;
}

.contact-comment {
    height: 120px;
}

/* Style validation error message */
.validation-error {
    color: red;
    font-size: 11pt;
}

.contact-section {
    margin-top: 16px;
    margin-bottom: 16px;
}

.contact-button {
    color: #fff;
    background-color: #000;
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    text-align:center;
    cursor:pointer;
    white-space:nowra
}