/* Style photos within Photography section */
.photo-content {
    justify-content: stretch;
}

.photos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    margin: 0 auto;
}

.photo {
    width: 550px;
    height: 550px;
    margin: 10px;
}